{% extends "map/base.html" %}
{% block content %}

    <table class="table table-striped">
  <thead class="bg-steel color text-white">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Location</th>
      <th scope="col">Latitude</th>
        <th scope="col">Longitude</th>
    </tr>
  </thead>
  <tbody>
  {% for school in schools %}
    <tr>
      <th scope="row">{{ school.id }}</th>
      <td><a href="{% url 'school-detail' school.id %}">{{ school.name }}</a></td>
      <td>{{ school.location }}</td>
      <td>{{ school.latitude }}</td>
     <td>{{ school.longitude }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock content %}