{% extends "map/base.html" %}
{% block content %}
<div id="mapVue">
<input id="autocomplete" class="form-control" type="text" placeholder="Find school" v-model="schoolAddress">
    <button type="button" class="btn btn-primary" @click="searchForSchool(schoolAddress)">Search</button>
    <a class="btn btn-secondary" v-bind:href="createUrl">Add school</a>
    <div class="content-section" id="map"></div>
{#<iframe src="https://www.google.com/maps/d/embed?mid=1D9pCDAM1oHP6wVcmM3IXPY9HVGQAD-EU" width="1000" height="480"></iframe>#}
</div>


<script>
var map;
function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 40.397, lng: 41.644},
      zoom: 2
    })

    var src = 'https://www.google.com/maps/d/u/0/kml?mid=1D9pCDAM1oHP6wVcmM3IXPY9HVGQAD-EU';
var kmlLayer = new google.maps.KmlLayer(src, {
  suppressInfoWindows: true,
  preserveViewport: false,
  map: map
})
    google.maps.event.addListener(kmlLayer, 'click', function(kmlEvent) {
    var text = kmlEvent.featureData;
    console.log(text);
});
}


var mapVue = new Vue({
    el: '#mapVue',
    delimiters: ['[[', ']]'],
    data: {
        schools: [],
        errors: [],
        searchMarkers: [],
        schoolAddress: '',
        gmarkers: [],
        createUrl: ''
    },
    created: function(){
        axios.get(`/rest/schools`)
        .then(response => {
          // JSON responses are automatically parsed.
          this.schools = response.data;
          this.initMarkers()
        })
        .catch(e => {
          this.errors.push(e)
            console.log(this.errors);
        })
    },
    methods: {
        initMarkers: function () {
            for (i = 0; i < this.schools.length; i++) {
                this.addMarker(this.schools[i]);
            }
        },
        addMarker: function (school) {
            var infowindow = new google.maps.InfoWindow();
            var marker, i;

            for (i = 0; i < this.schools.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(school.latitude, school.longitude),
                    map: map
                });
                this.gmarkers.push(marker);
            }
            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    map.panTo(this.getPosition());
                    map.setZoom(3);
                    infowindow.setContent(school.name);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        },
        searchForSchool: function(address){
            console.log(address)
            if(this.searchMarkers.length>0) this.clearSearchMarkers()
                let infowindow = new google.maps.InfoWindow();
               let geocoder = new google.maps.Geocoder();
               var that = this;
               geocoder.geocode( { 'address': address}, function(results, status) {
                 if (status == google.maps.GeocoderStatus.OK) {
                     let LatLng = results[0].geometry.location
                      map.setCenter(LatLng);
                     map.setZoom(3);
                      marker = new google.maps.Marker({
                        map: map,
                        position: LatLng,
                      });
                      that.searchMarkers.push(marker);
                      infowindow.setContent(results[0].formatted_address)
                      infowindow.open(map, marker);
                      that.createUrl = "{% url 'school-create' %}?location=" + results[0].formatted_address + "&latitude=" + results[0].geometry.location.lat() + "&longitude=" + results[0].geometry.location.lng()

                       var request = {
                        location: LatLng,
                        radius: '1',
                        query: results[0].formatted_address
                      };
                      var service = new google.maps.places.PlacesService(map);
                      service.textSearch(request, that.callback);


                 } else {
                 alert('Geocode was not successful for the following reason: ' + status);
                 }
               });
        },
        clearSearchMarkers: function(){
            for(let i=0;i<this.searchMarkers.length;i++) this.searchMarkers[i].setMap(null);
        },
        callback: function(results, status) {
          if (status == google.maps.places.PlacesServiceStatus.OK) {
              console.log(results[0].place_id)
          }
        }
    }
});


</script>
{% endblock content %}