{% extends "map/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
          <a class="mr-2" href="#">{{ object.name }}</a><p>{{ object.created_date }}</p>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'school-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'school-delete' object.id %}">Delete</a>
          </div>
      <h2 class="article-title">{{ object.description }}</h2>
    </div>
  </article>
{% endblock content %}